{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

        {% include 'inc/question.html' %}
        <h6 class="pb-2 mb-0" style="margin-top: 100px;">Answers:</h6>
        {% for answer in answers%}
            {% include 'inc/answer.html' %}

        {% endfor %}

        <div class="mb-3">

          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>


      <form class="form mt-5" method="POST" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">ANSWER</button>
    <input type="hidden" name="next" value="{{ request.path }}">
    {% endbuttons %}
  </form>




{% endblock content %}

