{% extends 'base.html' %}



{% load static %}

{% load bootstrap4 %}


{% block content %}

    <form class="form mt-5" method="POST" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
    {% if user.client.avatar %}
        <img src="/media/{{ user.client.avatar }}" height="70" width="70">
    {% else %}
        <img src="{% static 'pic.png' %}" height="70" width="70">
    {% endif %}s
        {% bootstrap_form formAv %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
            <input type="hidden" name="next" value="{{ request.path }}">
{#              <button type="submit" class="btn btn-success" <a href="{% url 'change_password' %}">{{ 'Change password' }}</button>#}
            <input type="button" class="btn btn-success" onclick="location.href='{% url 'change_password' %}';" value="Change password" />
        {% endbuttons %}

    </form>


{% endblock content %}
